* {
    margin: 0;
    font-family: monospace;
    font-size: 1.8vh;
}
.identifier_text_1_line {
    line-height: 5vh;
}
.identifier_text_2_lines {
    line-height: 2.5vh;
}
.epoch_identifier {
    font-weight: bold;
    height: 5vh;
    width: 100%;
    text-align: center;
    background-color: #a0a0a0;
    white-space: pre-wrap;
}
    .active {
    background-color: green;
}
.card_column_master {
    width: 16.25vw;
    height: 100%;
    border-right: 4px solid gray;
    border-right-style: groove;
    overflow-y: hidden;
    background-color: #a0a0a0;
    float: left;
}
.card_list_master {
    width: 100%;
    height: 70%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: grey;
}
.control {
    padding: auto;
    width: 100%;
    height: 25%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #c0c0c0;
}
.card_attributes_container {
    height: 50%;
    width: 100%;
}
.card_attributes_formatter {
    height: 25%;
    width: 100%;
    text-align: center;
}
.card_attributes_text_input {
    width: 60%;
}
.epoch_control_container {
    height: 12.5%;
    width: 60%;
    text-align: center;
    float: left;
}
.forecast_control_container {
    height: 12.5%;
    width: 40%;
    text-align: center;
    float: right;
}
.control_spacer {
    height: 6.25%;
    width: 100%;
}
.data_control_container {
    height: 12.5%;
    width: 100%;
}
.label_text {
    line-height: 2.75vh;
}
label.half_width_button {
    background-color: white;
    text-align: center;
    margin-top: 0.4%;
    height: 91%;
    margin-left: 0.25%;
    width: 49.5%;
}
.new_game_button_container {
    height: 12.5%;
    width: 100%;
}
.full_size_button {
    height: 100%;
    width: 100%;
    border-radius: 0.5vw;
}
.half_width_button {
    height: 100%;
    width: 50%;
    border-radius: 0.5vw;
}
.full_height_button {
    height: 100%;
    border-radius: 0.5vw;
}
.left {
    float: left;
}
.right {
    float: right;
}
.card_column_forecast {
    width: 16.25%;
    height: 100%;
    border-left: 4px solid gray;
    border-left-style: ridge;
    overflow-x: hidden;
    background-color: #a0a0a0;
    float: right;
}
.card_list_forecast {
    width: 100%;
    height: 92.5%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: grey;
}
.invisible {
    width: 0%;
    overflow-x: hidden;
}
.stop_forecast_button_container {
    height: 2.5%;
    width: 100%;
}
.epoch_master {
    height: 100vh;
    margin-left: 16.25vw;
}
.epoch_list {
    height: 95vh;
    overflow-x: auto;
    background-color: lightgrey;
}
.modifier_key {
    height: 5vh;
    overflow-x: auto;
    float: bottom;
    background-color: gray;
}
.key_text {
    margin-top: auto;
    margin-bottom: auto;
    width: 13vw;
    float: left;
}
.modifier_description {
    margin-top: 1.25vh;
    height: 2.5vh;
    width: 10.5vw;
    float: left;
}
.description_draw_button {
    height: 2.5vh;
    width: 2.7vw;
    float: left;
}
.description_text {
    height: 2.5vh;
}
.bottom {
    float: bottom;
}
.card_column_epoch {
    width: 16.25vw;
    height: 100%;
    border-right: 2px solid black;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: lightgrey;
    float: left;
}
.card_list_epoch {
    width: 100%;
    height: 90vh;
}
.city_card {
    border-radius: 0.5vw;
    border-bottom: 1px solid black;
    height: 5vh;
}
.drawn {
    opacity: 0.5
}
.blue {
    color: black;
    background-color: dodgerblue;
}
.red {
    color: black;
    background-color: #C22222;
}
.yellow {
    color: black;
    background-color: #EFC700;
}
.black {
    color: white;
    background-color: #4F4F4F;
}
.card_text {
    margin-left: 5%;
    width: 75%;
    height: 50%;
    float: left;
    text-align: left;
}
.edit_card {
    width: 20%;
    height: 50%;
    float: right;
}
.card_version_counts {
    width: 100%;
    float: bottom;
}
.card_version_0 {
    float: left;
    width: 33.3333%;
}
.card_version_1 {
    float: left;
    width: 33.3333%;
}
.card_version_2 {
    float: right;
    width: 33.3333%;
}
.version_draw_button {
    height: 2.5vh;
    width: 2.7vw;
    float: left;
}
.version_count {
    height: 50%;
    width: 50%;
    float: left;
    text-align: left;
}
