tr.disabled_city_card {
    background-color: #606060;
}
td.card_name_blue {
    border-bottom: 1px solid black;
    margin: 0;
    width: 35%;
    color: #2020d0;
}
td.card_name_red {
    border-bottom: 1px solid black;
    margin: 0;
    width: 35%;
    color: red;
}
td.card_name_yellow {
    border-bottom: 1px solid black;
    margin: 0;
    width: 35%;
    color: orange;
}
td.card_name_black {
    border-bottom: 1px solid black;
    margin: 0;
    width: 35%;
    color: black;
}
td.card_modifier {
    border-bottom: 1px solid black;
    margin: 0;
    width: 35%;
    color: #20b020;
}
td.card_buttons {
    border-bottom: 1px solid black;
    margin: 0;
    width: 30%;
}
button.card_button {
    width: 100%;
}
table.card_list_master {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0;
    width: 100%;
}
table.epoch_card_list {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0;
    width: 100%;
    overflow-y: auto;
}
table.forecast_card_list {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0;
    width: 100%;
}
table.epoch_identifier {
    border: 1px solid black;
    border-collapse: collapse;
    font-weight: bold;
    margin: 0;
    width: 100%;
}
table.active_epoch_identifier {
    border: 1px solid black;
    border-collapse: collapse;
    font-weight: bold;
    margin: 0;
    width: 100%;
    background-color: green;
}
div.master {
    margin: 0;
}
div.card_list_master_wrapper {
    margin: 0;
    width: 25%;
    height: 100%;
    float: left;
}
div.card_column_master {
    margin: 0;
    width: 100%;
    height: 75%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #a0a0a0;
}
div.card_list_control {
    margin: 0;
    width: 100%;
    height: 25%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #c0c0c0;
    line-height: 25%;
}
div.epidemic_epochs {
    margin: 0;
    height: 100%;
    overflow-x: auto;
    background-color: lightgrey;
    float: top;
}
div.epoch_list {
    margin: 0;
    height: 100%;
}
div.width_2 {
    width: 50vw;
}
div.width_3 {
    width: 75vw;
}
div.width_4 {
    width: 100vw;
}
div.width_5 {
    width: 125vw;
}
div.width_6 {
    width: 150vw;
}
div.width_7 {
    width: 175vw;
}
div.width_8 {
    width: 200vw;
}
div.forecast_list {
    margin: 0;
    width: 25%;
    height: 100%;
    float: right;
    background-color: #a0a0a0;
}
div.epoch_card_column {
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: lightgrey;
    float: left;
}
div.epoch_card_identifier {
    margin: 0;
    height: 2.7%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: lightgrey;
}
div.epoch_card_list {
    margin: 0;
    height: 97.3%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: lightgrey;
}
div.card_list_master {
    margin: 0;
    height: 96.5%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: grey;
}
div.forecast_card_list {
    margin: 0;
    height: 97.3%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: grey;
}
div.one_part_of_2 {
    width: 50%;
}
div.one_part_of_3 {
    width: 33.3333%;
}
div.one_part_of_4 {
    width: 25%;
}
div.one_part_of_5 {
    width: 20%;
}
div.one_part_of_6 {
    width: 16.6667%;
}
div.one_part_of_7 {
    width: 14.2857%;
}
div.one_part_of_8 {
    width: 12.5%;
}
div.invisible {
    width: 0%;
}
button.stop_forecast {
    position: absolute;
    bottom: 0;
    width: 25%;
}
button.new_game_button {
    position: absolute;
    bottom: 0;
    width: 25%;
}
button.left_side_button {
    float: left;
}
button.right_side_button {
    float: right;
}
button.card_button {
    width: 100%;
}
button.position_button {
    position: center;
}
p.full_height_paragraph {
    line-height: 100%;
}
body {
    margin: 0;
    text-shadow: white 0px 0px 20px;
    font-family: monospace;
}
